.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--navy);
  box-shadow: 0 0 5px var(--shadow-1);
}

.navbar-left {
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

.navbar-left {
  padding: 1rem 1.5rem;
}